/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

.banner {
    width: 100%;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main article {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

main h2 {
    margin-bottom: 10px;
}

.logo {
    max-width: 45%;
}

.main-header {
    padding: 15px 0;
}

header {
    background-color: #EAC926;
}

.top-header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100vw;
}

.opciones-pago {
    max-width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

.busqueda {
    width: 45%;
    display: flex;
}

.barra-busqueda {
    background-color: #ebebeb;
    border-radius: 5px 0px 0px 5px;
    margin: 0;
    padding: 0;
    max-width: 80%;
    border: none;
}

.boton-busqueda {
    background-color: #ebebeb;
    border-radius: 0px 5px 5px 0px;
    margin: 0;
    padding: 0;
    border: none;
    padding-right: 5px;
    padding-left: 5px;
}

.navegacion {
    background-color: #EAC926;
    display: none;
}

.navegacion ul {
    list-style: none;
}


.navegacion li {
    margin: 0 7px;
}

.burger-menu {
    background-color: #03264C;
    border-radius: 10%;
    cursor: pointer;
    font-size: 24px;
    max-width: 50px;
    text-align: center;
    display: block;
    margin: auto;
}

.burger-menu i {
    color: #ebebeb;
}

.basado-en-ultima-visita {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    border: 15px;
}

.seccion-ofertas {
    background-color: #ebebeb;
    border-top: solid 1px #ebebeb;
    border: 15px;
}

.basado-en-ultima-visita h2 {
    font-size: 24px;
}

.seccion-ofertas h2 {
    font-size: 24px;
}

.iconos {
    position: relative;
    width: 100%;
    display: flex;
}

.iconos .fa-solid {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.producto {
    display: flex;
    position: relative;
    flex-direction: column;
}

.precios {
    font-size: 18px;
    margin-bottom: 5px;
    display: flex;
    margin-right: 5px;
}

.descuentos {
    font-size: 16px;
    color: #20c200;
    margin-top: 5px;
    display: flex;
    margin-left: 5px;
}

.precios-descuentos {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 5%
}

.descripciones {
    font-size: 16px;
    margin-left: 5%;
    display: none;
}

.imagen {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid #666;
}

footer {
    text-align: center;
    background-color: #ebebeb;
    border-top: 2px solid #666;
}

footer i {
    color: #03264C;
    font-size: 50px;
}



@media (min-width: 361px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .logo {
        width: 30%;
    }

    .busqueda {
        width: 30%
    }

    .opciones-pago {
        width: 30%;
    }

    .burger-menu {
        display: none;
    }

    .navegacion {
        display: block;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navegacion ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navegacion a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 20px 0;
        font-size: 17px;
    }
}


@media (min-width: 768px) {
    .producto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 40%;
    }

    .basado-en-ultima-visita {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .seccion-ofertas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}