/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #EAC926;
}

.barra-busqueda {
    background-color: #ebebeb;
}

.boton-busqueda {
    background-color: #666;
}

.navegacion {
    background-color: #EAC926;
}

.basado-en-ultima-visita h2 {
    font-size: 24px;
}

.seccion-ofertas h2 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

.burger-menu {
    background-color: #03264C;
    border: none;
    cursor: pointer;
    font-size: 24px;
    text-align: center;
}

.burger-menu i {
    color: #ebebeb;
    text-align: center;
}

.imagen {
    width: 15%;
}

.logo {
    width: 30%;
}

.footer {
    text-align: center;
    background-color: #ebebeb;
}

footer i {
    color: #03264C;
    font-size: 50px;
}